/* 
  .card{
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }
  
  .card:hover{
       transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .card h3{
    font-weight: 600;
  }
  
  .card img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  }
  
  .card-1{
    background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  .card-2{
     background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  .card-3{
     background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  @media(max-width: 990px){
    .card{
      margin: 20px;
    }
  }  */
  .custom-container {
    width: 85% !important;
  }
  .status_nameerror {
    display: none;
  }

  .has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  }
  .has-error{
    display: block!important;
  }
  .btn-view{
    background-color: #1e88e5;
    color: #fff ! important;
  }
  .pending-application{
    color: red !important; 
    font-size: 16px; 
    font-weight: bold;
  }
  .approved-applications{
    color: green; 
    font-weight: 600; 
    flex: 1 1 100%; 
    box-sizing: border-box; 
    place-content: center flex-start; 
    align-items: center; 
    flex-direction: row; 
    display: flex;
  }
  .rejected-application{
    color: rgb(252, 113, 95); 
    font-weight: 600;
  }
  .buttons-copy{
    flex: 1 1 10%; 
    box-sizing: border-box;
    max-width: 10%;
    color: #fff !important;
    background-color: #3f51b5;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
  }
  .buttons-csv{
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    flex: 1 1 10%; 
    box-sizing: border-box;
    max-width: 10%;
    color: #fff !important;
    background-color: #1e88e5;
  }
  .buttons-print{
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    color: #fff;
    background-color: #2ad463;
  }